const FFI = require('ffi-napi');
const ref = require('ref-napi');
const ArrayType = require('ref-array-di')(ref);
const Struct = require('ref-struct-di')(ref);
const Union = require('ref-union-di')(ref);

const voidPtr = ref.refType(ref.types.void);

const constants = {
{{#enums}}
  '{{name}}': {
    {{#values}}
      {{name}}: {{value}},
    {{/values}}
    {{#values}}
      '{{value}}': '{{name}}',
    {{/values}}
  },
{{/enums}}
};

// NOTE: defining individual types as "global" constants to be able to reference them without any prefix.
{{#types}}
const {{name}} = {{type}};
const {{name}}Ptr = ref.refType({{name}});
{{/types}}

const types = {
{{#types}}
  {{name}},
  {{name}}Ptr,
{{/types}}
};

const functions = new FFI.Library({{{library}}}, {
{{#functions}}
  {{name}}: [{{result}}, [
  {{#args}}
    {{name}},
  {{/args}}
  ]],
{{/functions}}
});

module.exports = {
  constants,
  types,
  functions,
};
